@media only screen 
and (min-width: 541px)
and (max-width: 768px) {


	/* Animations */
	@keyframes submenu_animation_on {
		from { margin-top: -150px; opacity: 0;}
		to { margin-top: 0px; opacity: 1;}
	}

	@keyframes submenu_animation_out {
		from { margin-top: 0px; opacity: 1;}
		to { margin-top: -150px; opacity: 0;}
	}



	article.menu {
		width: 100%;
		height: 60px;
		position: relative;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0px 1px 1px rgb(100,100,100) ;
		z-index: 99999;
	}


	#main_menu{
	/*width: 695px;*/
		width: 540px;
		height: 60px;
		position: relative;
		margin: 0 auto;
	}

	#menu_logo {
		width: 125px;
		height: 30px;
		margin-top: 17px;
		float: left;
		margin-left: 10px;
		background: url('../img/mbi_logo.png');
		background-size: cover;
		cursor: pointer;
	}

	#menu_ul_container {
		float: left;
		margin-top: 23px;
	}

	ul.main_menu {
		display: inline;
		font-family: 'avenir_bold', sans-serif;
		font-size: 14px;
	}

	ul.main_menu li.menu_item{
		display: inline;
		color: rgb(40,40,40);
		margin-left: 30px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 15px;
		padding-bottom: 33px;
		cursor: pointer;
	}


	ul.main_menu li.menu_item#red_item{
		cursor: default;
	}


	ul.main_menu li.menu_item#red_item:hover{
		color: rgb(226,35,26);
	}

	ul.main_menu li.menu_item#red_item span{
		font-size: 10px;
		/*margin-top: -10px;*/
	}

	ul.main_menu li.menu_item#green_item:hover{
		color: rgb(119,188,31);
	}

	ul.main_menu li.menu_item#yellow_item:hover{
		color: rgb(255,163,0);
	}


	/* subMenu ---------------------------------------------------- */
	article#submenu {
		z-index: 999;
		background-color: rgb(255,255,255);
		width: 100%;
		height: 152px;
	}

	article#submenu.off{
		display: none;
	}

	article#submenu.on {
		display: block;
		animation-name: submenu_animation_on;
		animation-duration: 0.3s;
		position: absolute;
		margin: 0 auto;
	}

	article#submenu.out {
		display: block;
		animation-name: submenu_animation_out;
		animation-duration: 0.3s;
		position: absolute;
		margin: 0 auto;
		margin-top:-152px;  
	}

	#submenu_products_container{
		width: 541px;
		height: 152px;
		position: relative;
		margin: 0 auto;
		top:0px;
	}
	#submenu_product_one{
		float: left;
		width: 270px;
		height: 152px;
		cursor: pointer;
		
	}

	#submenu_product_two{
		float: left;
		width: 270px;
		height: 152px;
		cursor: pointer;
		background-color: yellow;
	}

	@keyframes product_submenu_in {
		from { background-size: 100%;}
		to {background-size: 110%;}
	}

	@keyframes product_submenu_out {
		from { background-size: 110%;}
		to {background-size: 100%;}
	}

	/* Animations */
	/* Product one */
	#submenu_product_one.submenu_product_start {
		background: url('../img/logo_sm_submenu.png');
		background-size: 100%;
		background-position: center;
	}

	#submenu_product_one.submenu_product_in {
		background: url('../img/logo_sm_submenu.png');
		animation-name: product_submenu_in;
		animation-duration: 0.3s;
		background-size: 110%;
		background-position: center;
	}

	#submenu_product_one.submenu_product_out {
		background: url('../img/logo_sm_submenu.png');
		animation-name: product_submenu_out;
		animation-duration: 0.3s;
		background-size: 100%;
		background-position: center;
	}


	/* Product 2 */
	#submenu_product_two.submenu_product_start {
		background: url('../img/logo_z_submenu.png');
		background-size: 100%;
		background-position: center;
	}

	#submenu_product_two.submenu_product_in {
		background: url('../img/logo_z_submenu.png');
		animation-name: product_submenu_in;
		animation-duration: 0.3s;
		background-size: 110%;
		background-position: center;
	}

	#submenu_product_two.submenu_product_out {
		background: url('../img/logo_z_submenu.png');
		animation-name: product_submenu_out;
		animation-duration: 0.3s;
		background-size: 100%;
		background-position: center;
	}






}