
@font-face {
    font-family: burbank;
    src: url('../fonts/BurbankBigRegular-Bold.woff');
}


@font-face {
    font-family: avenir_bold;
    src: url('../fonts/avenirnextw1gbold.woff');
}

@font-face {
    font-family: avenir_medium;
    src: url('../fonts/avenirnextw1gmedium.woff');
}




@media only screen 
and (min-width: 1201px) {

	article.home_main_display {
		width: 100%;
		height: 600px;
		max-width: 2500px;
		position: relative;
		margin: 0 auto;
		background: rgba(0,114,171,1);
		background: -moz-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,114,171,1)), color-stop(100%, rgba(0,88,123,1)));
		background: -webkit-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: -o-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: linear-gradient(to bottom, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ab', endColorstr='#00587b', GradientType=0 );

	}






	/* Countdown --------------------------------------- */
	.main_display_countdown {
		width: 100%;
		height: 120px;
		position: relative;
		top:480px;
		/*background-color: rgba(255,255,255,0.5);*/
	}

	.main_display_countdown ul {
		text-align: center;
		position: relative;
		margin: 0 auto;
	}

	.main_display_countdown ul li{
		width: 100px;
		padding: 50px 0px 0px 0px;
		margin-left: 10px;
		margin-right:10px;
		display: inline-block;
		font-family: burbank;
		font-size: 60px;
		line-height:20px;
		color: rgb(161,27,34);
		letter-spacing: 1px;
		/*background-color: rgba(255,255,255,0.5);*/
	}

	.main_display_countdown ul li span {
		font-size: 14px;
		font-family: avenir_bold;
		/*color: rgb(0,113,171);*/
		color: rgb(255,255,255);
		text-shadow: 1px 1px rgba(100,100,100,0.5);
	}


	/* Clouds ------------------------------------------ */

	#viewport {
		-webkit-perspective: 1000; 
		-moz-perspective: 1000; 
		-o-perspective: 1000;
		width: 100%;
		height: 600px; 
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	#world {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -256px;
		margin-top: -256px;
		height: 512px;
		width: 512px;
		/*background-color: rgba( 255, 0, 0, .2 );*/
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
	}

		#world div {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;	
		-o-transform-style: preserve-3d;	
	}
	
	.cloudBase {
		/*background-color: rgba( 255, 0, 255, .5 );*/
		position: absolute;
		left: 256px;
		top: 256px;
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
	}

	.starBase {
		/*background-color: rgba( 0, 0, 0, .5 );*/
		position: absolute;
		left: 256px;
		top: 256px;
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
	}
	
	.cloudLayer {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 256px;
		height: 256px;
		margin-left: -128px;
		margin-top: -128px;
		/*background-color: rgba( 0, 255, 255, .1 );*/
		-webkit-transition: opacity .5s ease-out;
		-moz-transition: opacity .5s ease-out;
		-o-transition: opacity .5s ease-out;
	}

	.starLayer {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin-left: -75px;
		margin-top: -75px;
		/*background-color: rgba( 0, 255, 255, .1 );*/
		-webkit-transition: opacity .5s ease-out;
		-moz-transition: opacity .5s ease-out;
		-o-transition: opacity .5s ease-out;
	}


	/* Banners ----------------------------------- */
	article.banner {
		width: 1200px;
		height: 250px;
		position: relative;
		margin: 0 auto;
		cursor: pointer;
		top: 20px;
		/*background-color: red;*/
	}

	/*#zomlings_banner {
		background: url('../img/zomlings_banner.png');
		background-size: cover;
		background-position: center;
	}*/



}