

	@keyframes logo_out_sm {
		from { top: 0px;}
		to {top: -200px;}
	}

	@keyframes logo_in_sm {
		from {top: -200px;}
		to {top: 0px;}
	}


	#main_display_logo_star_monsters.start {
		top: 0px;
	}

	#main_display_logo_star_monsters.out {
		animation-name: logo_out_sm;
		animation-duration: 0.4s;
		top: -200px;
	}
	#main_display_logo_star_monsters.in {
		animation-name: logo_in_sm;
		animation-duration: 0.4s;
		top: 0px;
	}


/* Countdown --------------------------------------- */
	@keyframes cd_out {
		from { top: 430px;}
		to {top: 620px;}
	}

	@keyframes cd_in {
		from {top: 620px;}
		to {top: 430px}
	}


#main_display_countdown.start {
	top:430px;
}

#main_display_countdown.out {
	animation-name: cd_out;
	animation-duration: 0.4s;
	top: 620px;
}

#main_display_countdown.in {
	animation-name: cd_in;
	animation-duration: 0.4s;
	top: 430px;
}

/* Phone landscape */
@media only screen 
and (min-width: 541px)
and (max-width: 768px) {

	@keyframes cd_out {
		from { top: 366.5px}
		to {top: 520px;}
	}

	@keyframes cd_in {
		from {top: 520px;}
		to {top: 366.5px; }
	}

	#main_display_countdown.start {
		top: 366.5px;
	}

	#main_display_countdown.out {
		animation-name: cd_out;
		animation-duration: 0.4s;
		top: 520px;
	}

	#main_display_countdown.in {
		animation-name: cd_in;
		animation-duration: 0.4s;
		top: 366.5px;
	}

}


/* Horizontal*/
@media only screen 
/*and (min-width: 320px)*/
and (max-width: 540px) { 

	@keyframes cd_out {
		from { top: 234px;}
		to {top: 360px;}
	}

	@keyframes cd_in {
		from {top: 360px;}
		to {top: 234px;; }
	}

	#main_display_countdown.start {
		top: 234px;
	}

	#main_display_countdown.out {
		animation-name: cd_out;
		animation-duration: 0.4s;
		top: 360px;
	}

	#main_display_countdown.in {
		animation-name: cd_in;
		animation-duration: 0.4s;
		top: 234px;
	}

}