@media only screen 
/*and (min-width: 320px)*/
and (max-width: 540px) {

	/* Menu ----------------------------------------- */
	article.menu {
		width: 100%;
		height: 120px;
		position: relative;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0px 1px 1px rgb(100,100,100) ;
		z-index: 99999;
	}

	#main_menu {
		width: 320px;
		height: 120px;
		position: relative;
		margin: 0 auto;
	}

	#menu_logo {
		width: 125px;
		height: 30px;
		position: relative;
		margin: 0 auto;
		background: url('../img/mbi_logo.png');
		background-size: cover;
		margin: 0 auto;
		top: 25px;
	}


	#menu_ul_container {
		position: relative;
		width: 100%;
		top:50px;
	}

	ul.main_menu {
		font-family: 'avenir_bold', sans-serif;
		margin: 0 auto;
		font-size: 14px;
		text-align: center;
	}

		ul.main_menu li.menu_item {
		display: inline;
		letter-spacing: 0.02em;
		color: rgb(40,40,40);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	ul.main_menu li.menu_item#red_item span{
		font-size: 10px;
	}

	ul.main_menu li.menu_item#red_item.red{
		color: rgb(226,35,26);
	}

	ul.main_menu li.menu_item#green_item{
		margin-left: 20px;
		margin-right: 20px;
	}


/* Submenu ----------------------------------------- */
	article#submenu {
		z-index: 999;
		background-color: rgb(255,255,255);
		width: 100%;
		height: 240px;
		position: absolute;
		margin: 0 auto;
	}

	article#submenu.off {
		display: none;

	}

	article#submenu.on {
		display: block;
		animation-name: submenu_animation_mobile_on;
		animation-duration: 0.4s;

	}

	article#submenu.out {
		display: block;
		animation-name: submenu_animation_mobile_out;
		animation-duration: 0.4s;
		margin-top: -240px;
	}

	#submenu_products_container {
		width: 213px;
		position: relative;
		margin: 0 auto;

	}

	#submenu_product_one {
		float: left;
		width: 213px;
		height: 89px;
		background: url('../img/mobile/logo_sm_submenu.png');
		background-size: cover;
		margin-top: 20px;
		cursor: pointer;
	}

	#submenu_product_two {
		float: left;
		width: 213px;
		height: 89px;
		background: url('../img/mobile/logo_z_submenu.png') ;
		background-size: cover;
		margin-top: 20px;
		cursor: pointer;
	}


}