/*@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/avenirnextw1gbold.woff');
}

@font-face {
    font-family: avenir_medium;
    src: url('../../fonts/avenirnextw1gmedium.woff');
}*/

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.loading {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	position:fixed;
	z-index: 9999;
	overflow-y: hidden;
}

/* Menu green item */
ul.main_menu li.menu_item#green_item{
	color: rgb(119,188,31);
}

ul.main_submenu #green_item_mobile {
	color: rgb(119,188,31);
}

/* Company description */
.company_description {
	width: 100%;
	height: inherit;
	position: relative;
	
}

.company_description_container {
	width: 100%;
	max-width: 750px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 60px;
}

.company_description_container h1{
	font-family: avenir_bold;
	font-size: 40px;
	color: rgb(40,40,40);
	line-height: 40px;
}

.company_description_container p {
	font-family: avenir_medium;
	font-size: 16px;
	line-height: 25px;
	margin-top: 30px;
}

/* Timeline items ---------------- */
/* Color Red */
.timeline_item_container.red .h_line_left {
	background-color: rgb(226,35,26);
}
.timeline_item_container.red .h_line_right {
	background-color: rgb(226,35,26);
}
.timeline_item_container.red .timeline_item {
	border-width: 3px;
	border-style: solid;
	border-color: rgb(226,35,26);
	background-color: rgb(226,35,26);
}
.timeline_item_container.red .timeline_item .timeline_item_text {
	color: white;
}

.timeline_item_container.red .year_container {
	background-color: rgb(226,35,26);
}
.v_line_left.red {
	background-color: rgb(226,35,26);
}
.v_line_right.red {
	background-color: rgb(226,35,26);
}
.v_line.red {
	background-color: rgb(226,35,26);
}

/* Color green*/
.timeline_item_container.green .h_line_left {
	background-color: rgb(119,188,31);
}
.timeline_item_container.green .h_line_right {
	background-color: rgb(119,188,31);
}
.timeline_item_container.green .timeline_item {
	border-width: 3px;
	border-style: solid;
	border-color: rgb(119,188,31);
	background-color: rgb(119,188,31);
}
.timeline_item_container.green .timeline_item .timeline_item_text {
	color: white;
}
.timeline_item_container.green .year_container {
	background-color: rgb(119,188,31);
}
.v_line_left.green {
	background-color: rgb(119,188,31);
}
.v_line_right.green {
	background-color: rgb(119,188,31);
}
.v_line.green {
	background-color: rgb(119,188,31);
}

/* Color yellow */
.timeline_item_container.yellow .h_line_left {
	background-color: rgb(255,163,0);
}
.timeline_item_container.yellow .h_line_right {
	background-color: rgb(255,163,0);
}
.timeline_item_container.yellow .timeline_item {
	border-width: 3px;
	border-style: solid;
	border-color: rgb(255,163,0);
	background-color: rgb(255,163,0);
}
.timeline_item_container.yellow .timeline_item .timeline_item_text {
	color: white;
}
.timeline_item_container.yellow .year_container {
	background-color: rgb(255,163,0);
}
.v_line_left.yellow {
	background-color: rgb(255,163,0);
}
.v_line_right.yellow {
	background-color: rgb(255,163,0);
}
.v_line.yellow {
	background-color: rgb(255,163,0);
}

/* Timeline */
.company_history {
	width: 100%;
	height: inherit;
	position: relative;
}

.columns_container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: inherit;
	display:table;
	
}

.history_column_container {
	width: 50%;
	height: inherit;
	margin-top: 0px;
	position: relative;
	margin: 0 auto;
}

.history_column_container.full {
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 0px;
	left: 0%;
}

#history_left_column_container {
	float: left;
	clear: left;
}

#history_right_column_container {
	float: right;
	clear: right;
}

.timeline_item_container {
	width: 95%;
	height: inherit;
	position: relative;
	margin-top: 30px;
}

.timeline_item_container_center_container {
	text-align: center;
	width: 480px;
	position: relative;
	margin: 0 auto;
	background-color: rgb(226,35,26);
	color: white;
}


.left_container {

	float: left;
	clear: left;
	margin-left: 5%;
}

.right_container {
	float: right;
	clear: right;
	margin-right: 5%;
}


.timeline_item_container.center_container .timeline_item {
	width: 100%;
	display: inline-block;
}

	.h_line_left {
		width: 20%;
		height: 3px;
		position: relative;
		margin-left: 80%;
		top: 20px;
	}

	.h_line_right {
		width: 20%;
		height: 3px;
		position: relative;
		margin-right: 80%;
		top: 20px;
	}

	.v_line_left {
		width: 3px;
		position: absolute;
		margin-left: 100%;
		left: -1.5px;
	}

	.v_line_right {
		width: 3px;
		position: absolute;
		left: -1.5px;
	}



	.timeline_item {
		width: 80%;
	}

	.timeline_item.left_item {
		display: inline-block;
	}

	.timeline_item.right_item {
		float: right;
		clear: left;
	}

	.timeline_item_image {
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		background-color: rgb(255,255,255);
	}

	.timeline_item_image_110 {
		width: 100%;
		position: relative;
		padding-bottom: 110%;
		background-color: rgb(255,255,255);
	}

	.timeline_item_image_logo {
		width: 100%;
		position: relative;
		padding-bottom: 40%;
		background-color: rgb(255,255,255);
	}

	.timeline_item_text{
		width: 100%;
		position: relative;
		text-align: center;
	}

		/* Text */
	.year_container h2 {
		font-size: 15px;
		font-family: 'avenir_bold', sans-serif;
	}


	.timeline_item_text h1{
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 10px;
		font-size: 15px;
		font-family: 'avenir_bold', sans-serif;
		text-transform: uppercase;
		line-height: 20px;
		letter-spacing: 1px;
	}

	.timeline_item_text h1.subtitle {
		padding-bottom: 0px;
	}

	.timeline_item_text p {
		font-family: 'avenir_medium', sans-serif;
		font-size: 15px;
		line-height: 20px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 16px;
	}

		.timeline_item_container.left_container .year_container {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: absolute;
		margin-left: 100%;
		left: -30px;
		margin-top: -15px;
		text-align: center;
		vertical-align: text-bottom;
		z-index: 99;

	}

	.timeline_item_container.right_container .year_container {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: absolute;
		left: -30px;
		margin-top: -15px;
		text-align: center;
		vertical-align: text-bottom;
		z-index: 99;

	}

	.timeline_item_container_center_container .year_container {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: absolute;
		background-color: rgb(226,35,26);
		text-align: center;
		vertical-align: text-bottom;
		z-index: 99;
		margin-left: 50%;
		left: -30px;
		margin-top: -90px;
	}

	.timeline_item_container_center_container .year_container h2{
		margin-top: 25px;
		color: white;
	}



	.timeline_item_container .year_container h2{
		margin-top: 25px;
		color: white;
	}

	/* Time line photos */
	#container_3 .timeline_item .timeline_item_image{
		background: url('../../img/history/office.jpg');
		background-size: cover;
	}
	#container_full_3 .timeline_item .timeline_item_image{
		background: url('../../img/history/office.jpg');
		background-size: cover;
	}

	#container_4 .timeline_item .timeline_item_image{
		background: url('../../img/history/new_logo.png');
		background-size: cover;
	}
	#container_full_4 .timeline_item .timeline_item_image{
		background: url('../../img/history/new_logo.png');
		background-size: cover;
	}

	#container_5 .timeline_item .timeline_item_image{
		background: url('../../img/history/zomlings_3.png');
		background-size: cover;
	}
	#container_full_5 .timeline_item .timeline_item_image{
		background: url('../../img/history/zomlings_3.png');
		background-size: cover;
	}

	#container_6 .timeline_item .timeline_item_image{
		background: url('../../img/history/bungees_3.png');
		background-size: cover;
	}
	#container_full_6 .timeline_item .timeline_item_image{
		background: url('../../img/history/bungees_3.png');
		background-size: cover;
	}

	#container_8 .timeline_item .timeline_item_image{
		background: url('../../img/history/Stoppers.jpg');
		background-size: cover;
	}
	#container_full_8 .timeline_item .timeline_item_image{
		background: url('../../img/history/Stoppers.jpg');
		background-size: cover;
	}

	#container_9 .timeline_item .timeline_item_image{
		background: url('../../img/history/gogos3.png');
		background-size: cover;
	}
	#container_full_9 .timeline_item .timeline_item_image{
		background: url('../../img/history/gogos3.png');
		background-size: cover;
	}

	#container_10 .timeline_item .timeline_item_image{
		background: url('../../img/history/Rollers_Pokemon.jpg');
		background-size: cover;
	}
	#container_full_10 .timeline_item .timeline_item_image{
		background: url('../../img/history/Rollers_Pokemon.jpg');
		background-size: cover;
	}

	#container_11 .timeline_item .timeline_item_image{
		background: url('../../img/history/shootout.jpg');
		background-size: cover;
	}
	#container_full_11 .timeline_item .timeline_item_image{
		background: url('../../img/history/shootout.jpg');
		background-size: cover;
	}

	#container_12 .timeline_item .timeline_item_image{
		background: url('../../img/history/Rappers.jpg');
		background-size: cover;
	}
	#container_full_12 .timeline_item .timeline_item_image{
		background: url('../../img/history/Rappers.jpg');
		background-size: cover;
	}

	#container_13 .timeline_item .timeline_item_image{
		background: url('../../img/history/gogos2_3.jpg');
		background-size: cover;
	}
	#container_full_13 .timeline_item .timeline_item_image{
		background: url('../../img/history/gogos2_3.jpg');
		background-size: cover;
	}


	#container_14 .timeline_item .timeline_item_image{
		background: url('../../img/history/pickers.jpg');
		background-size: cover;
	}
	#container_full_14 .timeline_item .timeline_item_image{
		background: url('../../img/history/pickers.jpg');
		background-size: cover;
	}

	#container_15 .timeline_item .timeline_item_image{
		background: url('../../img/history/spice.jpg');
		background-size: cover;
	}
	#container_full_15 .timeline_item .timeline_item_image{
		background: url('../../img/history/spice.jpg');
		background-size: cover;
	}

	#container_16 .timeline_item .timeline_item_image{
		background: url('../../img/history/gogos1_2.jpg');
		background-size: cover;
	}
	#container_full_16 .timeline_item .timeline_item_image{
		background: url('../../img/history/gogos1_2.jpg');
		background-size: cover;
	}

	#container_18 .timeline_item .timeline_item_image{
		background: url('../../img/history/MadCaps.jpg');
		background-size: cover;
	}
	#container_full_18 .timeline_item .timeline_item_image{
		background: url('../../img/history/MadCaps.jpg');
		background-size: cover;
	}

	#container_19 .timeline_item .timeline_item_image{
		background: url('../../img/history/futbol.jpg');
		background-size: cover;
	}
	#container_full_19 .timeline_item .timeline_item_image{
		background: url('../../img/history/futbol.jpg');
		background-size: cover;
	}


/* Pre footer */
	div.pre_footer {
		width: 100%;
		position: relative;
	/*	background-color: red;*/
	}

	.pre_footer_img {
		width: 760px;
		height: 180px;
		position: relative;
		margin: 0 auto;
	}

	#home_pre_footer {
		background-image: url('../../img/zomlings/footer_3.png');
		background-size: cover;
	}


