/* Horizontal*/
@media only screen 
and (max-width: 540px) { 

	article.home_main_display {
		width: 100%;
		height: 350px;
		position: relative;
		margin: 0 auto;
		background: rgba(0,114,171,1);
		background: -moz-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,114,171,1)), color-stop(100%, rgba(0,88,123,1)));
		background: -webkit-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: -o-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		background: linear-gradient(to bottom, rgba(0,114,171,1) 0%, rgba(0,88,123,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ab', endColorstr='#00587b', GradientType=0 );

	}

	.main_display_full {
		width: 100%;
		height: 0px;
		position: absolute;
	}

	#main_display_logo_star_monsters {
		width: 260px;
		height: 137px;
		background: url('../../img/all/logo_sm.png');
		background-size: cover;
		position: relative;
		margin: 0 auto;
	}

	.iframe_container {
		top: 95px;
		position: relative;
		margin: 0 auto;
		width: 310px;
		height: 174px;
	}

	.video_thumbnail{
		cursor: pointer;
		width: 310px;
		height: 174px;
		position: relative;
		margin: 0 auto;
		top: 95px;
		background-color: black;
	}

	.player_icon_container {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		position: absolute;
		margin-left: 125px;
		margin-top: 52px;
		background-color: rgba(0,0,0,0.5);
	}

	.player_icon {
		width: 0px;
		height: 0px;
		position: absolute;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 22px solid rgb(255,255,255);
		margin-left:  25px;
		margin-top: 24px;
	}


/* Countdown */
#main_display_countdown {
	width: 100%;
	height: 120px;
	position: relative;
}

#main_display_countdown ul {
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 268px;
	height: 70px;
	background-color: rgb(255,255,255);
	border-radius: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	z-index: 99;
}

#main_display_countdown ul li{
	width: 57px;
	padding: 22px 0px 0px 0px;
	display: inline-block;
	font-family: burbank;
	font-size: 35px;
	line-height:18px;
	color: rgb(227,5,19);
	letter-spacing: 2px;
}

#main_display_countdown ul li span {
	font-size: 12px;
	font-family: avenir_bold;
	color: rgb(0,113,171);
	letter-spacing: 0.5px;
}

.sm_link_container {
	position: relative;
	cursor: pointer;
}

.sm_link_top{
	position: relative;
	margin: 0 auto;
	top: 287px;
	width: 190px;
	height: 45px;
	background-color: white;
	text-align: center;
	box-shadow: 5px 5px 0 rgba(0,0,0,0.3);
}

.sm_link_top:hover {
	box-shadow: 5px 5px 0 rgba(0,0,0,0.6);
}

.sm_link_top h1{
	font-family: avenir_bold;
	font-size: 18px;
	padding-top: 16px;
	color: rgb(205,30,40);
}


	/* Clouds */
	#viewport {
		-webkit-perspective: 1000; 
		-moz-perspective: 1000; 
		-o-perspective: 1000;
		width: 100%;
		height: 350px; 
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	/* Company motto */
	.company_motto_container {
		width: 100%;
		max-width: 770px;
		background-color: white;
		position: relative;
		text-align: center;
		margin: 0 auto;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.company_motto_container h2 {
		font-family: avenir_medium;
		font-size: 20px;
		line-height: 35px;
		padding-left: 30px;
		padding-right: 30px;
	}


	/* Pre footer */
	section.pre_footer {
		width: 100%;
		position: relative;
	}

	.pre_footer_img {
		width: 100%;
		height: 180px;
		position: relative;
		margin: 0 auto;
	}

	#home_pre_footer {
		background-image: url('../../img/zomlings/footer_4.png');
		background-size: cover;
		background-position: center;
	}

}