@media only screen 
and (min-width: 541px)
and (max-width: 790px) {

	/* Menu ------------------------------------------------ */
	article.menu {
		display: none;
	}

	article.menu_mobile{
		width: 100%;
		height: 115px;
		position: relative;
		margin: 0 auto;
		background-color: white;
		z-index: 99999;
		text-align: center;
	}

	.main_menu_mobile{
		width: 100%;
		height: 115px;
		position: relative;
		margin: 0 auto;
		display:inline-block;
		box-shadow: 0px 1px 1px rgba(100,100,100,0.5) ;
		z-index: 99999;
	}

	#menu_logo_mobile {
		width: 170px;
		height: 80px;
		margin-top: 15px;
		float: left;
		margin-left: 48px;
		background: url('../../img/all/sm_logo_menu.png');
		background-size: cover;
		cursor: pointer;
	}

	.menu_mobile_submenu_icon{
		width: 25px;
		height: 25px;
		margin-top: 45px;
		cursor: pointer;
		position: absolute;
		right: 48px;
	}
	.menu_mobile_submenu_icon.off {
		background: url('../../img/all/menu_icon.png');
		background-size: cover;
	}
	.menu_mobile_submenu_icon.off:hover {
		background: url('../../img/all/menu_icon_hover.png');
		background-size: cover;
	}
	
	.menu_mobile_submenu_icon.on {
		background: url('../../img/all/menu_icon_close.png');
		background-size: cover;
	}
	.menu_mobile_submenu_icon.on:hover {
		background: url('../../img/all/menu_icon_close_hover.png');
		background-size: cover;
	}

	.submenu_mobile {
		width: 100%;
		min-height: 500px;
		/*height: 100%;*/
		position: relative;
		margin: 0 auto;
		background-color: rgb(255,255,255);
		text-align: center;
		z-index: 9;
		overflow-x: hidden;
	}

	.submenu_mobile.on {
		display: block;
	}

	.submenu_mobile.off {
		display: none;
	}

	ul.main_submenu_mobile {
		position: relative;
		top: 20px;
	}

	ul.main_submenu_mobile li{
		position: relative;
		padding-bottom: 30px;
		padding-top: 30px;
		font-family: 'avenir_bold', sans-serif;
		font-size: 15px;
	}

	.submenu_mobile_filet {
		width: 60%;
		height: 1px;
		box-shadow: 0px 1px 1px rgba(100,100,100,0.5) ;
		position: relative;
		margin: 0 auto;
	}

	ul.main_submenu_mobile .menu_item:hover {
		color: rgb(226,35,26);
	}



}