@font-face {
    font-family: burbank;
    src: url('../../../fonts/BurbankBigRegular-Bold.woff');
}


@font-face {
    font-family: avenir_bold;
    src: url('../../../fonts/avenirnextw1gbold.woff');
}

@font-face {
    font-family: avenir_medium;
    src: url('../../../fonts/avenirnextw1gmedium.woff');
}

section.content {
	width: 100%;
	position: relative;
    margin: 0 auto;
    overflow-x: hidden;  
    overflow-y: auto;
}


/* Back menu */
.back_menu_container {
	width: 100%;
    position: relative;
}


.back_menu{
	width: 100%;
	height: 60px;
	position: relative;
	margin: 0 auto;
	padding-top: 45px;
	margin-bottom: 40px;
	text-align: center;
}

.back_menu ul{
	text-align: center;
	display:inline-block;
	position: relative;
	margin: 0 auto;
}

#back_menu_item {
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
    box-shadow: 4px 4px 0 1px rgba(0,0,0,0.6);
}

#back_menu_item:hover {
	cursor: pointer;
	background-color: rgb(161,27,34);
    box-shadow: 4px 4px 0 1px rgb(126,22,32);
}


/* Character detail */
.character_detail_full {
	width: 100%;
	/*height: 0px;*/
	position: relative;
	/*background-color: red;*/
}









