@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/avenirnextw1gbold.woff');
}

@font-face {
    font-family: avenir_medium;
    src: url('../../fonts/avenirnextw1gmedium.woff');
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.loading {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	position:fixed;
	z-index: 9999;
	overflow-y: hidden;
}

/* 	MENU */
ul.main_menu li.menu_item#yellow_item{
	color: rgb(255,163,0);
}

ul.main_submenu #yellow_item_mobile {
	color: rgb(255,163,0);
}


.company_picture {
	width: 100%;
	height: 600px;
	position: relative;
	background-color: rgb(20,20,20);
}

.contact_form_container {
	position: relative;
	width: 100%;
	height: inherit;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 120px;
}

.contact_form_container h1{
	font-family: avenir_bold;
	font-size: 40px;
	color: rgb(40,40,40);
	line-height: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

.contact_form_container h2{
	font-family: avenir_bold;
	font-size: 20px;
	margin-top: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

.form_container {
	width: 540px;
	top: 20px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.form_container form input[type="text"]{
	width: 500px;
	padding: 20px;
	border-style:none;
	background-color: rgb(220,220,220);
	margin-top: 20px;
	font-size: 14px;
	border-radius: 3px;
}


.form_container form textarea{
	width: 500px;
	padding: 20px;
	border-style:none;
	background-color: rgb(220,220,220);
	margin-top: 20px;
	font-size: 14px;
	resize: none;
	border-radius: 3px;
	font-family: avenir_medium;
}

.form_container form input[type="submit"]{
	width: 540px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style:none;
	
	margin-top: 20px;
	font-size: 14px;
	resize: none;
	font-family: avenir_bold;
	/*background-color: rgb(119,188,31);*/
	background-color: rgb(255,163,0);
	color: white;
	cursor: pointer;
	-webkit-appearance: none;
	border-radius: 3px;
}

.form_container select.select_country{
	width: 540px;
	padding: 20px;
	border-style:none;
	background-color: rgb(220,220,220);
	margin-top: 20px;

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

   /*color: rgb(40,40,40);*/
   /*color: rgb(150,150,150);*/
   font-family: avenir_medium;
   font-size: 14px;
}

select:required:invalid {
  color: gray;
}

/*.form_container select.select_country option{
	color: rgb(40,40,40);
}

option:nth-child(2) {
 color: red;
}*/
/*select option[val="1"]{
    background: rgb(150,150,150);
}*/


option {
	/*color: rgb(150,150,150);*/
   	font-family: avenir_medium;
}





:focus {
  outline-color: transparent;
  outline-style: none;
}

::-webkit-input-placeholder {
   color: rgb(150,150,150);
   font-family: avenir_medium;
   
}

:-moz-placeholder { 
    color: rgb(150,150,150);
   font-family: avenir_medium; 
}

:-ms-input-placeholder {  
    color: rgb(150,150,150);
   font-family: avenir_medium; 
}

p {
	padding-left: 40px;
	padding-right: 40px;
	line-height: 24px;
}

p.try_again {
	font-size: 16px;
	font-family: avenir_medium;
	margin-top: 35px;
}

p.thanks {
	font-size: 16px;
	font-family: avenir_medium;
}

a {
	font-family: avenir_bold;
	text-decoration: underline;
}

a:hover {
	color: rgb(255,163,0);
}


/* Pre footer */
section.pre_footer {
	width: 100%;
	position: relative;
}

.pre_footer_img {
	width: 760px;
	height: 180px;
	position: relative;
	margin: 0 auto;
}

#home_pre_footer {
	background-image: url('../../img/zomlings/footer_3.png');
	background-size: cover;
}