
@media only screen 
and (max-width: 540px) {

	section.main_display {
		width: 100%;
		height: 365px;
		position: relative;
		margin: 0 auto;	
		overflow-x: hidden;  
		overflow-y: auto;
	}


	/* Logo SM ----------------------------------------- */
	.main_display_logo {
		width: 100%;
		height: 0px;
		position: absolute;
		z-index: 99;
		margin-top: 10px;
	}

	#main_display_logo_star_monsters {
		width: 260px;
		height: 137px;
		background: url('../../img/all/logo_sm_border.png');
		background-size: cover;
		position: relative;
		margin: 0 auto;
	}


	/* Main display */
	article.series_main_display {
		width: 100%;
		height: 0px;
		position: relative;
		margin: 0 auto;
	}

	.serie_main_display.on {
		position: absolute;
		width: 100%;
		height: 0px;
		margin: 0 auto;
	}

	.serie_main_display.off {
		display: none;
	}


	.main_display_bg {
		width: 100%;
		height: 350px;
		position: absolute;
	}

	.main_display_full {
		width: 100%;
		height: 0px;
		position: absolute;
	}

	.iframe_container {
		top: 95px;
		position: relative;
		margin: 0 auto;
		width: 310px;
		height: 174px;
	}

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.video_thumbnail{
		cursor: pointer;
		width: 310px;
		height: 174px;
		position: relative;
		margin: 0 auto;
		top: 95px;
		background-color: red;
	}

	.player_icon_container {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		position: absolute;
		margin-left: 125px;
		margin-top: 52px;
		background-color: rgba(0,0,0,0.5);
	}

	.player_icon {
		width: 0px;
		height: 0px;
		position: absolute;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 22px solid rgb(255,255,255);
		margin-left:  25px;
		margin-top: 24px;
	}

	/* Series One Main display */
	#left_img_main_display_s_one {
		position: relative;
		margin: 0 auto;
		width: 350px;
		height: 176px;
		background: url('../../img/s1/left.png');
		background-size: cover;
		top: 174px;
		
	}
	#right_img_main_display_s_one {
		position: relative;
		margin: 0 auto;
		width: 350px;
		height: 176px;
		background: url('../img/s1/right.png');
		background-size: cover;
		top: 174px;
	}

	/* Series controls */
	.main_display_series_controls {
		width: 100%;
		height: 0px;
		position: absolute;
	
	}

	.control_left_container{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.4);
		float: left;
		margin-top: 147px;
		margin-left: 20px;
		cursor:pointer;
	}

	.control_left_container:hover {
		background-color: rgba(0,0,0,0.8);
	}

	.control_right_container:hover {
		background-color: rgba(0,0,0,0.8);
	}

	.control_right_container{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.4);
		float: right;
		margin-top: 147px;
		margin-right: 20px;
		cursor:pointer;
	}

	.control_arrow {
		width: 35px;
		height: 35px;
		position: absolute;
		margin-left: 17.5px;
		margin-top: 17.5px;
	}

	#left_arrow {
		background: url('../../img/all/left_arrow.png');
		background-size: cover;
	}

	#right_arrow {
		background: url('../../img/all/right_arrow.png');
		background-size: cover;
	}

	/* Series menu */
	.main_display_series_menu {
		width: 100%;
		position: relative;
		margin: 0 auto;
		margin-top: 310px;
		text-align: center;
	}

	.main_display_series_menu ul{
		text-align: center;
		background-color: rgba(0,0,0,0.2);
		display:inline-block;
	}

	.main_display_series_menu ul li{
		display: inline-block;
		font-family: 'avenir_bold', sans-serif;
		font-size: 10px;
		color: white;
		letter-spacing: 0.7px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 6px;
		padding-right: 6px;
		vertical-align: middle;
	}

	.main_display_series_menu ul li.off {
		cursor: pointer;
	}

	#series_one_menu_item.on #series_one_selector {
		position: absolute;
		margin-left: 5px;
		margin-top: 10px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid rgb(161,27,34);
	}

	#special_menu_item.on #special_selector {
		position: absolute;
		margin-left: 3px;
		margin-top: 10px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid rgb(245,158,25);
	}

	/* Series info */
	section.series_info{
		width: 100%;
		position: relative;
		margin: 0 auto;
	}

	.serie_info_container.on {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}

	.serie_info_container.off {
		display: none;
	}

	.description_container {
		width: 90%;
		position: relative;
		margin: 0 auto;
		text-align: center;
		margin-top: 30px;
	}

	.description_container h1 {
		font-family: 'avenir_bold', sans-serif;
		font-size: 30px;
		font-weight: 700;
	}

	.description_container p {
		margin-top: 22px;
		font-family: 'avenir_medium', sans-serif;
		font-size: 14px;
		line-height: 22px;
	}

	/* Gallery */
	.gallery_container {
		width: 100%;
		position: relative;
		margin: 0 auto;
		text-align: center;
		margin-top: 50px;
	}

	.gallery_controls {
		width: 100%;
		height: 0px;
		position: absolute;
		display: none;
		z-index: 999;
	}

	.gallery_left_control_container {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.4);
		float: left;
		margin-top: 15%;
		margin-left: 20px;
		cursor:pointer;
	}
	.gallery_left_control_container:hover {
		background-color: rgba(0,0,0,0.8);
	}

	.gallery_control_arrow {
		width: 35px;
		height: 35px;
		position: absolute;
		margin-left: 17.5px;
		margin-top: 17.5px;
	}
	#gallery_left_arrow {
		background: url('../../img/all/left_arrow.png');
		background-size: cover;
	}
	.gallery_right_control_container {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.4);
		float: right;
		margin-top: 15%;
		margin-right: 20px;
		cursor:pointer;
		cursor:pointer;
	}
	.gallery_right_control_container:hover {
		background-color: rgba(0,0,0,0.8);
	}
	#gallery_right_arrow {
		background: url('../../img/all/right_arrow.png');
		background-size: cover;
	}

	.gallery_image {
		width: 100%;
		padding-bottom: 56.25%;
		position: relative;
		margin: 0 auto;
		top: 0px;
	}

	.gallery_index_container {
		width: 105px;
		height: 0px;
		top: 20px;
		position: relative;
		margin: 0 auto;
	}

	.gallery_index_item_on {
		width: 15px;
		height: 15px;
		float: left;
		margin-left: 15px;
		border-radius: 50%;
	}
	.gallery_index_item_off {
		background-color: rgb(150,150,150);
		cursor: pointer;
		width: 15px;
		height: 15px;
		float: left;
		margin-left: 15px;
		border-radius: 50%;
	}

	/* Products */
	.products_container {
		width: 100%;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		text-align: center;
		margin-top: 100px;
	}

	.products_box {
		width: 300px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		margin-bottom: 50px;
	}

	.products_box h1 {
		font-family: 'avenir_bold', sans-serif;
		font-size: 30px;
		font-weight: 700;
	}

	.product_container {
		overflow: hidden;
		float: left;
		margin-top: 15px;
		margin-bottom: 15px;
		width: 300px;
	}

	.product_image_container {
		width: 300px;
		height: 300px;
		position: relative;
		
	}

	.product_info_container {
		width: 90%;
		position: relative;
		margin: 0 auto;
		margin-top: 16px;
		
	}

	.product_info_container h3 {
		font-family: 'avenir_bold', sans-serif;
		font-size: 16px;
	}


	.product_info_container p {
		margin-top: 5px;
		font-family: 'avenir_medium', sans-serif;
		font-size: 16px;
		line-height: 20px;
	}

	.product_filet {
		width: 100%;
		height: 2px;
		margin-left: 0%;
		float: left;
		background-color: rgb(220,220,220);
		
	}

}