


@media only screen 
and (min-width: 1201px) {


	/* Logo SM ----------------------------------------- */
	.main_display_logo {
		width: 100%;
		height: 0px;
		position: absolute;
		z-index: 99;
		margin-top: 10px;
	}

	#main_display_logo_star_monsters {
		width: 340px;
		height: 179px;
		background: url('../img/logo_sm.png');
		background-size: cover;
		position: relative;
		margin: 0 auto;
	}

	/* Series One*/
	#left_img_main_display_s_one {
		position: relative;
		margin: 0 auto;
		width: 703px;
		height: 353px;
		background: url('../img/s1/left.png');
		background-size: cover;
		top: 247px;
		
	}
	#right_img_main_display_s_one {
		position: relative;
		margin: 0 auto;
		width: 703px;
		height: 353px;
		background: url('../img/s1/right.png');
		background-size: cover;
		top: 247px;
		
	}


	/* Footer ----------------------------------------- */
	div.pre_footer {
		width: 100%;
		position: relative;
		margin-top: 100px;
	}

	.pre_footer_img {
		width: 900px;
		height: 180px;
		position: relative;
		margin: 0 auto;
	}

	#series_one_pre_footer {
		background-image: url('../img/s1/footer/footer.png');
		background-size: cover;
	}


}