

	/* Timeline Photos */
	#container_1 .timeline_item .timeline_item_image{
		background: url('../img/history/sm.jpg');
		background-size: cover;
	}


	#container_full_1 .timeline_item .timeline_item_image{
		background: url('../img/history/sm.jpg');
		background-size: cover;
	}


