


@media only screen 
and (min-width: 1201px) {

	/* Company pics ----------------------------------------------------- */
	.company_pics {
		width: 100%;
		height: 600px;
		position: relative;
		background-color: rgb(20,20,20);
	}

	/* Company history ------------------------------------------------ */
	/*.company_history {
		width: 100%;
		height: inherit;
		position: relative;
	}*/

	.company_history_container {
		width: 1200px;
		height: inherit;
		position: relative;
		margin: 0 auto;
		margin-bottom: 120px;
	}



	.timeline_container_single_column {
		display: none;
	}



	#container_2 {
		margin-top: 100px;
	}

	#container_6 {
		/*margin-top: 60px;*/
	}

	#container_8 {
		/*margin-top: 100px;*/
	}

	/* Vertical lines --------------------------- */
	#container_1 .v_line_left{
		height: 180px;
	}
	#container_3 .v_line_right{
		height: 370px;
	}
	#container_5 .v_line_right{
		height: 180px;
	}
	#container_6 .v_line_left{
		height: 250px;
	}
	#container_8 .v_line_right{
		height: 100px;
	}
	#container_9 .v_line_left{
		height: 300px;
	}
	#container_10 .v_line_right{
		height: 100px;
	}
	#container_11 .v_line_left{
		height: 300px;
	}
	#container_12 .v_line_right{
		height: 160px;
	}
	#container_13 .v_line_left{
		height: 250px;
	}
	#container_14 .v_line_right{
		height: 160px;
	}
	#container_15 .v_line_left{
		height: 250px;
	}
	#container_16 .v_line_right{
		height: 250px;
	}
	#container_18 .v_line_left{
		height: 150px;
	}
	#container_19 .v_line_right{
		height: 258px;
	}
}