@font-face {
    font-family: burbank;
    src: url('../../fonts/BurbankBigRegular-Bold.woff');
}


@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/avenirnextw1gbold.woff');
}

@font-face {
    font-family: avenir_medium;
    src: url('../../fonts/avenirnextw1gmedium.woff');
}
	

section.content {
	width: 100%;
	position: relative;
    top: 25px;
}

.text_container {
	width: 100%;
	text-align: center;
}

.text_container_first {
    width: 100%;
    text-align: center;
}

.checklist_menu_container {
    width: 100%;
    position: relative;
}

/* Checklist --------------------------------------- */
.checklist_container_full.on {
    display: block;
}

.checklist_container_full.off {
    display: none;
}

.checklist_menu ul li.off{
    cursor: pointer;
}

/* Series One */
#series_one_menu_item.on {
    background-color: rgb(161,27,34);
}
#series_one_menu_item.off:hover {
    background-color: rgba(0,0,0,0.6);
}


/* Special */
#special_menu_item.on {
    background-color: rgb(245,158,25);
}
#special_menu_item.off:hover {
    background-color: rgba(0,0,0,0.6);
}

