
@media only screen 
and (min-width: 850px)
and (max-width: 1200px) {


	/* Logo Zomlings ----------------------------------------- */
	.main_display_logo {
		width: 100%;
		height: 0px;
		position: absolute;
		z-index: 99;
		margin-top: 15px;
	}

	#main_display_logo_zomlings {
		width: 380px;
		height: 157px;
		background: url('../img/logo_zomlings.png');
		background-size: cover;
		position: relative;
		margin: 0 auto;
	}



	/* Footer ----------------------------------------- */
	div.pre_footer {
		width: 100%;
		position: relative;
		margin-top: 100px;
	/*	background-color: red;*/
	}

	.pre_footer_img {
		width: 760px;
		height: 180px;
		position: relative;
		margin: 0 auto;
	}

	#series_one_pre_footer {
		background-image: url('../img/s1/footer/footer_3.png');
		background-size: cover;
	}
	#series_two_pre_footer {
		background-image: url('../img/s2/footer/footer_3.png');
		background-size: cover;
	}

	#series_three_pre_footer {
		background-image: url('../img/s3/footer/footer_3.png');
		background-size: cover;
	}

	#series_four_pre_footer {
		background-image: url('../img/s4/footer/footer_3.png');
		background-size: cover;
	}
	#special_pre_footer {
		background-image: url('../img/special/footer/footer_3.png');
		background-size: cover;
	}

}

