
/* Portrait */
@media only screen 
and (max-width: 540px) { 

	.company_picture {
		width: 100%;
		height: 350px;
		position: relative;
		background-color: rgb(20,20,20);
	}

	.contact_form_container {
		position: relative;
		width: 100%;
		height: inherit;
		margin: 0 auto;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 120px;
	}

	.form_container {
		width: 90%;
		top: 20px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		
	}

	.form_container form input[type="text"]{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;

		border-style:none;
		background-color: rgb(220,220,220);
		margin-top: 20px;
		font-size: 14px;
		border-radius: 3px;
	}

	.form_container form textarea{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
		border-style:none;
		background-color: rgb(220,220,220);
		margin-top: 20px;
		font-size: 14px;
		resize: none;
		border-radius: 3px;
	}

	.form_container form input[type="submit"]{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		border-style:none;
		
		margin-top: 20px;
		font-size: 14px;
		resize: none;
		font-family: avenir_bold;
		background-color: rgb(255,163,0);
		color: white;
		cursor: pointer;

		-webkit-appearance: none;
	}

	.form_container select.select_country{
		width: 100%;
		padding: 20px;
		border-style:none;
		background-color: rgb(220,220,220);
		margin-top: 20px;

		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;

	    color: rgb(0,0,0);
	   font-family: avenir_medium;
	   font-size: 14px;
	}

	section.pre_footer {
		width: 100%;
		position: relative;
	/*	background-color: red;*/
	}

	.pre_footer_img {
		width: 100%;
		height: 180px;
		position: relative;
		margin: 0 auto;
	}

	#home_pre_footer {
		background-image: url('../../zomlings/img/s1/footer/footer_4.png');
		background-size: cover;
		background-position: center;
	}

}