@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/avenirnextw1gbold.woff');
}

@font-face {
    font-family: avenir_medium;
    src: url('../../fonts/avenirnextw1gmedium.woff');
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

section.content {
	width: 100%;
	/*height: inherit;*/
}

/* Company description --------------------------------------------- */
.company_description {
	width: 100%;
	height: inherit;
	position: relative;
	
}


.company_description_container {
	width: 100%;
	max-width: 750px;
	/*background-color: white;*/
	position: relative;
	text-align: center;
	margin: 0 auto;
	/*top: 60px;*/
	padding-top: 50px;
	padding-bottom: 60px;
}

.company_description_container h1{
	font-family: avenir_bold;
	font-size: 40px;
	color: rgb(40,40,40);
	line-height: 40px;
}

.company_description_container p {
	font-family: avenir_medium;
	font-size: 16px;
	line-height: 25px;
	margin-top: 30px;
}


/* Timeline items ---------------- */
/* Color Red */
.timeline_item_container.red .h_line_left {
	background-color: rgb(226,35,26);
}
.timeline_item_container.red .h_line_right {
	background-color: rgb(226,35,26);
}
.timeline_item_container.red .timeline_item {
	border-width: 3px;
	border-style: solid;
	border-color: rgb(226,35,26);
	background-color: rgb(226,35,26);
}
.timeline_item_container.red .timeline_item .timeline_item_text {
	color: white;
}
/* Color Red */
.timeline_item_container.red .year_container {
	background-color: rgb(226,35,26);
}
.v_line_left.red {
	background-color: rgb(226,35,26);
}
.v_line_right.red {
	background-color: rgb(226,35,26);
}
.v_line.red {
	background-color: rgb(226,35,26);
}


/* Color green*/
.timeline_item_container.green .h_line_left {
	background-color: rgb(119,188,31);
}
.timeline_item_container.green .h_line_right {
	background-color: rgb(119,188,31);
}
.timeline_item_container.green .timeline_item {
	border-width: 3px;
	border-style: solid;
	border-color: rgb(119,188,31);
	background-color: rgb(119,188,31);
}
.timeline_item_container.green .timeline_item .timeline_item_text {
	color: white;
}
.timeline_item_container.green .year_container {
	background-color: rgb(119,188,31);
}
.v_line_left.green {
	background-color: rgb(119,188,31);
}
.v_line_right.green {
	background-color: rgb(119,188,31);
}
.v_line.green {
	background-color: rgb(119,188,31);
}


/* Color yellow */
.timeline_item_container.yellow .h_line_left {
	background-color: rgb(255,163,0);
}
.timeline_item_container.yellow .h_line_right {
	background-color: rgb(255,163,0);
}
.timeline_item_container.yellow .timeline_item {
	border-width: 3px;
	border-style: solid;
	border-color: rgb(255,163,0);
	background-color: rgb(255,163,0);
}
.timeline_item_container.yellow .timeline_item .timeline_item_text {
	color: white;
}
.timeline_item_container.yellow .year_container {
	background-color: rgb(255,163,0);
}
.v_line_left.yellow {
	background-color: rgb(255,163,0);
}
.v_line_right.yellow {
	background-color: rgb(255,163,0);
}
.v_line.yellow {
	background-color: rgb(255,163,0);
}


/* IMAGES */
.timeline_item_image.sm {
	background: url('../img/history/sm.png');
	background-size: cover;
}

.timeline_item_image.new_logo {
	background: url('../img/history/new_logo.png');
	background-size: cover;
}



.timeline_item_image.zomlings {
	background: url('../img/history/zomlings.png');
	background-size: cover;
}

.timeline_item_image.bungees {
	background: url('../img/history/bungees_2.png');
	background-size: cover;
}

.timeline_item_image.gogos3 {
	background: url('../img/history/gogos3.png');
	background-size: cover;
}
