
	html {
		width: 100%;
		height: 100%;
		position: relative;
	}

	body {
		width: 100%;
		height: 100%;
		position: relative;
	}

	/* Series menu */
	#series_one_menu_item.on {
		background-color: rgb(161,27,34);
	}
	#series_one_menu_item.off:hover {
		background-color: rgba(0,0,0,0.6);
	}
	#series_one_menu_item.off #series_one_selector {
		display: none;
	}
	#series_one_menu_item.on #series_one_selector {
		position: absolute;
		margin-left: 17px;
		margin-top: 17.5px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid rgb(161,27,34);
	}


	#special_menu_item.on {
		background-color: rgb(245,158,25);
	}
	#special_menu_item.off:hover {
		background-color: rgba(0,0,0,0.6);
	}
	#special_menu_item.off #special_selector {
		display: none;
	}
	#special_menu_item.on #special_selector {
		position: absolute;
		margin-left: 17px;
		margin-top: 17.5px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid rgb(245,158,25);
	}


	.main_display_series_menu ul li.off {
		cursor: pointer;
	}

	/* Series one */
	#series_one_bg {
		background: url('../../img/s1/bg_5.png');
		background-size: cover;
		background-position: center;
	}

	#series_one_video_thumbnail {
		background: url('../../img/s1/s1_thumbnail.jpg');
		background-size: cover;
	}
	#player_series_one{
		border-style: solid;
	    border-width: 5px;
	    border-color: rgb(161,27,34);
	    margin-left: -5px;
	    margin-top: -5px;
	}

	/* Special */
	#special_bg {
		background: url('../../img/products/special/bg_special_4.png');
		background-size: cover;
		background-position: center;
	}


		/* Gallery */
	/* Series One */
	#series_one_gallery_index_container .gallery_index_item_on {
		background-color: rgb(190,22,33);
	}
	#series_one_gallery_index_container .gallery_index_item_off:hover {
		background-color: rgb(190,22,33);
	}
	#series_one_pic {
		background: url('../../img/products/s1/gallery/img_one.jpg');
		background-size: cover;
	}

	/* Products */
	/* Series One */
	#packet_image_series_one {
		background: url('../../img/products/s1/products/packet.png');
		background-size: cover;
	}
	#mini_capsules_image_series_one {
		background: url('../../img/products/s1/products/mini_capsules.png');
		background-size: cover;
	}
	#capsule_image_series_one {
		background: url('../../img/products/s1/products/capsule.png');
		background-size: cover;
	}
	#bag_image_series_one {
		background: url('../../img/products/s1/products/bag.png');
		background-size: cover;
	}
	#blister_image_series_one {
		background: url('../../img/products/s1/products/blister.png');
		background-size: cover;
	}

	/* Special */
	#tin_special {
		background: url('../../img/products/special/products/tin.png');
		background-size: cover;
	}


	/* Text */
	.description_container h1 {
		color: rgb(0,113,171);
	}

	.description_container p {
		color: rgb(80,80,80);
	}

	.products_box h1 {
		color: rgb(0,113,171);
	}

	.product_info_container h3 {
		color: rgb(0,113,171);
	}

	.product_info_container p {
		color: rgb(80,80,80);
	}