/* Series One ------------------------------------------- */
@keyframes logo_out_series_one {
	from { top: 0px;}
	to {top: -200px;}
}

@keyframes logo_in_series_one {
	from {top: -200px;}
	to {top: 0px;}
}




#main_display_logo_star_monsters.start {
	top: 0px;
}
#main_display_logo_star_monsters.out {
	animation-name: logo_out_series_one;
	animation-duration: 0.4s;
	top: -200px;
}
#main_display_logo_star_monsters.in {
	animation-name: logo_in_series_one;
	animation-duration: 0.4s;
	top: 0px;
}


@media only screen 
and (min-width: 769px) {

	@keyframes left_out_series_one {
		from { left: -450px; }
		to { left: -650px; }
	}

	@keyframes left_in_series_one {
		from { left: -650px;}
		to { left: -450px ;}
	}

	@keyframes right_out_series_one {
		from { left: 450px; }
		to { left: 650px; }
	}

	@keyframes right_in_series_one {
		from { left: 650px;}
		to { left: 450px ;}
	}

	#left_img_main_display_s_one.start {
		left: -450px;
	}

	#left_img_main_display_s_one.out {
		animation-name: left_out_series_one;
		animation-duration: 0.4s;
		left: -650px;
	}

	#left_img_main_display_s_one.in {
		animation-name: left_in_series_one;
		animation-duration: 0.4s;
		left: -450px;
	}

	#right_img_main_display_s_one.start {
		left: 450px;
	}

	#right_img_main_display_s_one.out {
		animation-name: right_out_series_one;
		animation-duration: 0.4s;
		left: 650px;
	}

	#right_img_main_display_s_one.in {
		animation-name: right_in_series_one;
		animation-duration: 0.4s;
		left: 450px;
	}


}


/* Horizontal*/
@media only screen 
and (min-width: 541px)
and (max-width: 768px) {

	@keyframes left_out_series_one {
		from { left: -400px; }
		to { left: -550px; }
	}

	@keyframes left_in_series_one {
		from { left: -550px;}
		to { left: -400px ;}
	}

	@keyframes right_out_series_one {
		from { left: 400px; }
		to { left: 550px; }
	}

	@keyframes right_in_series_one {
		from { left: 550px;}
		to { left: 400px ;}
	}



	#left_img_main_display_s_one.start {
		left: -400px;
	}

	#left_img_main_display_s_one.out {
		animation-name: left_out_series_one;
		animation-duration: 0.4s;
		left: -550px;
	}

	#left_img_main_display_s_one.in {
		animation-name: left_in_series_one;
		animation-duration: 0.4s;
		left: -400px;
	}

	#right_img_main_display_s_one.start {
		left: 400px;
	}

	#right_img_main_display_s_one.out {
		animation-name: right_out_series_one;
		animation-duration: 0.4s;
		left: 550px;
	}

	#right_img_main_display_s_one.in {
		animation-name: right_in_series_one;
		animation-duration: 0.4s;
		left: 400px;
	}

}


/* Portrait */
@media only screen 
and (max-width: 540px) {


	@keyframes left_out_series_one {
		from { left: -240px; }
		to { left: -550px; }
	}

	@keyframes left_in_series_one {
		from { left: -550px;}
		to { left: -240px ;}
	}

	@keyframes right_out_series_one {
		from { left: 230px; }
		to { left: 550px; }
	}

	@keyframes right_in_series_one {
		from { left: 550px;}
		to { left: 230px ;}
	}

	#left_img_main_display_s_one.start {
		left: -240px;
	}

	#left_img_main_display_s_one.out {
		animation-name: left_out_series_one;
		animation-duration: 0.4s;
		left: -550px;
	}

	#left_img_main_display_s_one.in {
		animation-name: left_in_series_one;
		animation-duration: 0.4s;
		left: -240px;
	}

	#right_img_main_display_s_one.start {
		left: 230px;
	}

	#right_img_main_display_s_one.out {
		animation-name: right_out_series_one;
		animation-duration: 0.4s;
		left: 550px;
	}

	#right_img_main_display_s_one.in {
		animation-name: right_in_series_one;
		animation-duration: 0.4s;
		left: 230px;
	}

}